Source: openrc-config
Section: misc
Priority: required
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://nxos.org


Package: openrc-config
Architecture: all
Depends: openrc, policycoreutils
Conflicts: systemd, systemd-sysv, initscripts, sysvinit-core
Description: Package to add runlevel configuration for OpenRC.
 This package will add the boot scripts to the runlevel
 directories used by OpenRC to boot the system.

